@import '../../styles/vars';

#counter {
    width: 60%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 1.3em;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgrey;
}
